<div tuiCardLarge tuiSurface="elevated" *ngIf="job() as j">
  <div tuiHeader>
    <h5 tuiTitle class="self-center m-1 text-indigo-800">
      {{ j.title }}
      <div tuiSubtitle>Должность</div>
    </h5>
  </div>

  <div class="flex flex-col justify-between content-center"></div>
  <div class="grid grid-cols-2 font-sans gap-6 content-start text-l">
    <span class="align-middle font-bold"> Приоритет: </span>
    <span class="align-middle">{{ PriorityLevel[j.priority] }}</span>
  </div>
  <div class="grid grid-cols-2 font-sans gap-6 content-start text-l">
    <span class="align-middle font-bold"> Статус: </span>
    <span class="align-middle">{{ JobStatus[j.status] }}</span>
  </div>
  <div class="grid grid-cols-2 font-sans gap-6 content-start text-l">
    <span class="align-middle font-bold"> Категория: </span>
    <span class="align-middle">{{ JobCategory[j.category] }}</span>
  </div>
  <div class="grid grid-cols-2 font-sans gap-6 content-start text-l">
    <span class="align-middle font-bold"> Дата открытия: </span>
    <span class="align-middle">{{ j.publicationDate | date: "short" }}</span>
  </div>
  <div class="grid grid-cols-2 font-sans gap-6 content-start text-l">
    <span class="align-middle font-bold"> Дата закрытия: </span>
    <span class="align-middle">{{ j.closingDate | date: "short" }}</span>
  </div>
</div>
