<div tuiCardLarge tuiSurface="elevated">
  <div class="flex flex-col justify-between">
    <form>
      <tui-input>
          Должность
          <tui-data-list-wrapper/>
      </tui-input>
    </form>
  </div>
  <div class="grid grid-rows-6">
    <form>
      <tui-input>
          Приоритет
          <tui-data-list-wrapper/>
      </tui-input>
    </form>
  </div>
  <div class="grid grid-rows-6">
    <form>
      <tui-input>
          Статус
          <tui-data-list-wrapper/>
      </tui-input>
    </form>
  </div>
  <div class="grid grid-rows-6">
    <form>
      <tui-input>
          Категория
          <tui-data-list-wrapper/>
      </tui-input>
    </form>
  </div>
  <div class="grid grid-rows-6">
    <form>
      <tui-input>
          Дата открытия
          <tui-data-list-wrapper/>
      </tui-input>
    </form>
  </div>
  <div class="grid grid-rows-6">
    <form>
      <tui-input>
          Дата закрытия
          <tui-data-list-wrapper/>
      </tui-input>
    </form>
  </div>
</div>
