<div tuiCardLarge tuiSurface="elevated" class="mb-4">
  <div tuiHeader>
    <h5 tuiTitle class="self-center m-1 text-indigo-800">
      Информация о кандидате
    </h5>
  </div>
  <form
    class="grid grid-cols-2 grid-rows-5 grid-flow-col gap-y-4 gap-x-8"
    [formGroup]="form"
  >
    <tui-input formControlName="lastName"
      >Фамилия<input tuiTextfieldLegacy />
    </tui-input>
    <tui-input formControlName="name"
      >Имя<input tuiTextfieldLegacy />
    </tui-input>
    <tui-input formControlName="middleName"
      >Отчество<input tuiTextfieldLegacy />
    </tui-input>
    <tui-input formControlName="email"
      >E-mail<input tuiTextfieldLegacy />
    </tui-input>
    <tui-input formControlName="phone"
      >Номер телефона<input tuiTextfieldLegacy />
    </tui-input>

    <tui-input-date formControlName="birthDate"
      >Дата рождения
    </tui-input-date>
    <tui-input formControlName="address"
      >Адрес<input tuiTextfieldLegacy />
    </tui-input>
    <tui-input formControlName="education"
      >Образование<input tuiTextfieldLegacy />
    </tui-input>
    <tui-input formControlName="tags"
      >Навыки<input tuiTextfieldLegacy />
    </tui-input>
    <tui-input formControlName="lastJob"
      >Последнее место работы<input tuiTextfieldLegacy />
    </tui-input>
  </form>
</div>
