<header tuiHeader class="gap 2">
  <h2 tuiTitle class="text-center">Информация о кандидате</h2>
</header>

<div tuiCardLarge tuiSurface="elevated" class="my-4">
  <form class="grid grid-cols-2 grid-rows-5 grid-flow-col gap-y-4 gap-x-8">
    <tui-input>Фамилия<input tuiTextfieldLegacy /> </tui-input>
    <tui-input>Имя<input tuiTextfieldLegacy /> </tui-input>
    <tui-input>Отчество<input tuiTextfieldLegacy /> </tui-input>
    <tui-input>email<input tuiTextfieldLegacy /> </tui-input>
    <tui-input>Номер телефона<input tuiTextfieldLegacy /> </tui-input>

    <tui-input>Дата рождения<input tuiTextfieldLegacy /> </tui-input>
    <tui-input>Адрес<input tuiTextfieldLegacy /> </tui-input>
    <tui-input>Образование<input tuiTextfieldLegacy /> </tui-input>
    <tui-input>Навыки<input tuiTextfieldLegacy /> </tui-input>
    <tui-input>Последнее место работы<input tuiTextfieldLegacy /> </tui-input>
  </form>
</div>


<div tuiCardLarge tuiSurface="elevated" class="my-4">
  <header tuiHeader>
    <h2 tuiTitle>Резюме</h2>
  </header>
</div>
<div tuiCardLarge tuiSurface="elevated" class="my-4">
  <header tuiHeader>
    <h2 tuiTitle>Отзыв рекрутера</h2>
  </header>
</div>
