<p>profile-card works!</p>
<div class="prodile-card">
  <div class="avatar-name">
    <img class="rounded-full" src="/assets/imges/img.png" alt="avatar">

    <div class="profile-card__name"
    tuiCardLarge
    tuiSurface="elevated"
>
    <header tuiHeader>
        <h1 tuiTitle>
          ФИО
            <span tuiSubtitle>почта</span>
        </h1>


  <div class="profil-card__description">
    Я,Идеал Идеалов, работаю на заводе, но прохожу курсы фронтенд разработчика и тд
  </div>

  <div class="profile-card__tags">
    <div class="skill-tag">HTML</div>
    <div class="skill-tag">Python</div>
    <div class="skill-tag">CSS</div>
    <div class="skill-tag">ML</div>
  </div>

  <div class="profile-card__action-btns">
    <button class="btn">Посмотреть резюме</button>
    <button class="btn">Связаться</button>
  </div>

