<div tuiCardLarge tuiSurface="elevated">
  <div class="flex flex-row justify-between gap-2 content-center">
  <div class="gap 2 align-middle content-center">
    <img class="rounded-full" src="/assets/imges/img.png" alt="avatar">
  </div>
  <div class="gap-2 content-center">
    <h1 tuiTitle class="font-sans">Райан Госслинг<span tuiSubtitle>ryan_gossling</span></h1>
  </div>
  <div class="gap-2 content-center font-sans text-left text-base">
    Я,Идеал Идеалов, работаю на заводе, но прохожу курсы фронтенд разработчика и тд
  </div>
  <div class="gap-2 content-center">
    <button
    size="l"
    status="custom"
    tuiTag
    type="button"
    value="SCC"
    class="tag bg-indigo-100 m-1"
    [hoverable]="true"
    ></button>
    <button
    size="l"
    status="custom"
    tuiTag
    type="button"
    value="HTML"
    class="tag bg-indigo-100 m-1"
    [hoverable]="true"
    ></button>
    <button
    size="l"
    status="custom"
    tuiTag
    type="button"
    value="JS"
    class="tag bg-indigo-100 m-1"
    [hoverable]="true"
    ></button>
  </div>
  <div class="flex flex-col justify-between content-center gap-2">
    <button
    size="s"
    appearance="primary"
    tuiButton
    type="button"
    >
    Посмотреть резюме
    </button>
    <button
    size="s"
    appearance="primary"
    tuiButton
    type="button"
    >
    Связаться
    </button>
  </div>
</div>
</div>

