<div tuiCardLarge tuiSurface="elevated">
  <div tuiHeader>
    <h5 tuiTitle class="self-center m-1 text-indigo-800">Отзыв о кандидате</h5>
  </div>
  <div class="flex flex-row justify-evenly m-4">
    <div class="flex flex-col justify-evenly gap-5">
      <tui-icon
        icon="@tui.file-pen"
        [style.color]="'var(--tui-background-accent-1)'"
        class="self-center"
      />
      <p class="self-center">review_1.txt</p>
    </div>
    <div class="flex flex-col justify-evenly gap-5">
      <tui-icon
        icon="@tui.file-pen"
        [style.color]="'var(--tui-background-accent-1)'"
        class="self-center"
      />
      <p class="self-center">review_2.txt</p>
    </div>
    <div class="flex flex-col justify-evenly gap-5">
      <tui-icon
        icon="@tui.file-pen"
        [style.color]="'var(--tui-background-accent-1)'"
        class="self-center"
      />
      <p class="self-center">review_3.txt</p>
    </div>
  </div>
</div>
