<div tuiCardLarge tuiSurface="elevated" class="mb-4">
  <div tuiHeader>
    <h5 tuiTitle class="self-center m-1 text-indigo-800">
      Информация о вакансии
    </h5>
  </div>
  <form
    class="grid grid-rows-5 grid-flow-col gap-y-4 gap-x-8"
  >
    <tui-input
      >Приоретет<input tuiTextfieldLegacy />
    </tui-input>
    <tui-input
      >Статус<input tuiTextfieldLegacy />
    </tui-input>
    <tui-input
      >Отчество<input tuiTextfieldLegacy />
    </tui-input>
    <tui-input
      >Категория<input tuiTextfieldLegacy />
    </tui-input>
    <tui-input-date
      >Дата открытия
    </tui-input-date>
    <tui-input-date
      >Дата закрытия
    </tui-input-date>
  </form>
</div>
