<div class="">
  <ul class="flex flex-row">
    <li class="flex flex-col">
      <p class="text-black h-5 font-sans mx-9 uppercase text-sm">
        <b>Всего вакансий</b>
      </p>
      <div
        class="text-zinc-600 h-7 font-sans mx-9 text-sm bg-white rounded-full text-center w-20 self-center border-2 border-zinc-400"
      >
        <span class="align-middle text-center">54</span>
      </div>
    </li>
    <li class="flex flex-col">
      <p class="text-black h-5 font-sans mx-9 uppercase text-sm">
        <b>Закрытые вакансии</b>
      </p>
      <div
        class="text-zinc-600 h-7 font-sans mx-9 text-sm bg-white rounded-full text-center w-20 self-center border-2 border-zinc-400"
      >
        <span class="align-middle text-center">3</span>
      </div>
    </li>
    <li class="flex flex-col">
      <p class="text-black h-5 font-sans mx-9 uppercase text-sm">
        <b>Открытые вакансии</b>
      </p>
      <div
        class="text-zinc-600 h-7 font-sans mx-9 text-sm bg-white rounded-full text-center w-20 self-center border-2 border-zinc-400"
      >
        <span class="align-middle text-center">51</span>
      </div>
    </li>
  </ul>
</div>
