<div class="">
    <ul class="flex flex-row ">
      <li class="flex flex-col">
        <p class="text-black h-5 font-sans mx-9 uppercase"><b>Всего вакансий</b></p>
        <p class="text-zinc-600 h-6 font-sans mx-9">54</p>
      </li>

      <li class="flex flex-col">
        <p class="text-black h-5 font-sans mx-9 uppercase"><b>Закрытые вакансии</b></p>
        <p class="text-zinc-600 h-6 font-sans mx-9">3</p>
      </li>

      <li class="flex flex-col">
        <p class="text-black h-5 font-sans mx-9 uppercase"><b>Открытые вакансии</b></p>
        <p class="text-zinc-600 h-6 font-sans mx-9">51</p>
      </li>
    </ul>
  </div>
