<div class="">
    <ul class="flex flex-row ">
      <li class="flex flex-col">
        <p class="text-black h-5 font-sans mx-9" href="/all">Всего вакансий</p>
        <p class="text-zinc-600 h-6 font-sans mx-9" href="/all">54</p>
      </li>

      <li class="flex flex-col">
        <p class="text-black h-5 font-sans mx-9" href="/closedvacancies">Закрытые вакансии

        </p>
        <hr>
        <p class="text-zinc-600 h-6 font-sans mx-9" href="/closedvacancies">3</p>
      </li>

      <li class="flex flex-col">
        <p class="text-black h-5 font-sans mx-9" href="/openvacancies">Открытые вакансии

        </p>
        <p class="text-zinc-600 h-6 font-sans mx-9" href="/openvacancies">51

        </p>
      </li>
    </ul>
  </div>
