<div tuiCardLarge tuiSurface="elevated">
  <header tuiHeader>
    <h2 tuiTitle>Среднее время закрытия вакансии по месяцам</h2>
  </header>

  <tui-axes
    class="h-40"
    size="l"
    [axisXLabels]="['Апр', 'Май', 'Июн', 'Июл', 'Авг', 'Сен']"
    [axisYLabels]="labelsY"
    [verticalLines]="4"
  >
    <tui-line-chart
      [dots]="false"
      [filled]="true"
      [height]="100"
      [smoothingFactor]="30"
      [value]="values"
      [width]="50"
      [x]="0"
      [y]="0"
      size="l"
    />
  </tui-axes>
</div>
