<p>candidate-vacancy works!</p>



<div tuiCardLarge tuiSurface="elevated" class="my-4">
  <div tuiHeader>
    <h5 tuiTitle class="self-center m-1 text-indigo-800">
        Вакансии
    </h5>
  </div>
  <div class="grid grid-cols-2 grid-rows-3 grid-flow-col gap-y-4 gap-x-8">
    <div tuiSubtitle class="content-start text-l align-middle">Разработчик</div>
    <div tuiSubtitle class="content-start text-l align-middle">Бизнес-аналитик</div>
    <div tuiSubtitle class="content-start text-l align-middle">UX-дизайнер</div>

    <tui-badge appearance="success" uiStatus> Success</tui-badge>
    <tui-badge appearance="success" uiStatus> Success</tui-badge>
    <tui-badge appearance="success" uiStatus> Success</tui-badge>
  </div>
</div>
